*{
    position: relative;
}


.description-text{
    margin-top: 2px;
    margin-bottom: 0%;
}


#MainLogo{
    color: #352;
    transition:  .2s;
   
}
#MainLogo:hover{
    
    
    /* transform: scale(1.1); */
    transform: rotate(-370deg);
    
}

.car{
    padding-top:  0px;
}

.navbar{
    padding-bottom: 2%;
    background-color: beige;
    position: sticky;
    z-index: 10;

}


hr{
    margin: 0;
}

.nav-item{
    padding: 0 3% 0;
    transition: transform .2s;
}
.nav-item:hover{
    transform: scale(1.1);
    
}





/* .nav-link{
    font-family:  ;
} */

.navbar-brand{
    /* font-style: italic; */
    font-weight:lighter;
    font-size:200%;
    font-family: Garamond;
    padding-right: 2%;
    /* font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.footer{
    background-color:rgb(238, 193, 135);
    position: relative;
   
    /* display: inline-block; */

}

.fheading{
    margin-left: 5%;
    color:black ;
    margin-top: 5%;
}

.log-form{
    
    width: 30%;
    position: absolute;
    left: 60%;
    top: 20%;
    
    
  
}


.pizza-vector{
    margin-left: 10%;
    margin-top: 5%;
    width: 28%;
    opacity: 0;
    display: inline;
}

.signUpBody{
    position:relative;
    
    
    /* display: inline-block; */
}

#signInText{
    position: absolute;
    top: 5%;
    right: 32%;
}

.sign-legend{
    font-weight: bolder;
    opacity: .3;
    /* padding-bottom: ; */
    
}

.footer-link{
    display: block;
    font-weight: lighter;
    text-decoration: none;
    color: black;
}

.footer-container{
    padding-top: 20px;
    padding-bottom: 60px;
}

.store-logo{
    width: 5%;    
    margin-right: 30px;
    padding-bottom: 10px;
}

.footer-text{
    padding-bottom: 30px;
}

.store{
    text-align: center;
    padding-bottom: 30px;
}

.footer-item{
    text-align: center;
}

.feedback-button{
    width: 80%;
}

.social-list{
    display: inline-flex;
}

.social{
    /* margin: 0 10px; */
    width: 50%;
}
/* social log animations */
.social-logo{
    width: 25%;
    transition: transform .2s;
}
.social-logo:hover{
    transform: scale(1.5);
}
.fssai{
    text-align: center;
}

.fssai-logo{
    width: 10%;
    
}

ul{
    list-style-type: none;
}
.footer-description{
    text-align: center;
    
}

.footer-description-text{
    margin-top: 20px;
    font-size: 70%;
}


.footer-link:hover{
    color: white;
}

.new-user{
    position: absolute;
    right: 5px;
}

.order-body{
    position: relative;
    
}

.menu-heading{
    text-align: center;
    font-family: Garamond ;
    font-size: 20px;
    opacity: .2;
    margin-bottom: 70px;
    margin-top: 25px;
    text-shadow:black;
    /* text-decoration:underline; */
    /* text-decoration: #352; */
}

.card{
    margin: 12px;
    margin-left: 55px;
}

.row{
    padding-bottom: 10px;
}

.stylish-rule{
    width: 30%;
    position: relative;
    left: 35%;
    color: rgb(189, 128, 49);
    
}


.menu{
    opacity: .2;
}


.card-title{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    text-shadow: 2px 2px 4px #e0d5d5;
                                                
}


.about-body{
    position:sticky;

}

.about-heading{
    /* position: absolute; */
    text-align: center;
    opacity: .3;
    font-size: small;
    font-family: 'Novela', sans-serif;
    padding-top: 10px;

                                                
    
}
.about-para{
    text-align: center;
    margin: 25px 50px;
    opacity: .3;
    padding-bottom: 100px;
}



.form-body{
    padding: 20px;
    /* left: 60%;    
    width: 500px; */
    
}


legend{
    margin-left: 0px;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: bold;
}

.submit-button{
    position: inherit;
    /* left: 200px; */
}



.cart,.navbar-profile{
    padding-right: 10px;
    margin-right: 40px;
}

.logout-heading{
    padding: 20px;
}

