{% extends 'baseApp/index.html' %} {% block content %}

<div class="about-body">
  <h1 class="about-heading">
    About Us
    <hr class="about-rule stylish-rule" />
  </h1>
  <p class="about-para">
    Welcome to Mark's Pizzeria, where passion for pizza meets a commitment to
    quality! Our story is one of family, tradition, and a love for crafting the
    perfect pie. Established in 1995, we have been serving up delicious,
    handcrafted pizzas that have become a beloved part of our community for over
    two decades. <br /><br /><br />
    Mark's Pizzeria is not just a name; it's a legacy. Mark, the heart and soul
    of this pizzeria, is a second-generation pizza maker with a deep-rooted
    passion for creating mouthwatering, authentic Italian-style pizzas. He
    learned the art of pizza-making from his father, who brought traditional
    recipes and techniques from their ancestral home in Italy. Mark's commitment
    to preserving the authenticity of these recipes is what sets our pizzeria
    apart. <br /><br /><br />
  </p>
</div>

{% endblock %}
