{% extends "baseApp/index.html" %} {% load static %} 
{% load crispy_forms_tags %} 
{% block content %}

<div class="container text-center">
  {% if prods %}
  <div class="row border justify-content-center">
    <div class="col col-8">
      <h3 class="mx-auto p-2">Cart Items</h3>
      <div class="container">
        <div class="row cart-subheading-row d-none d-md-flex">
          <div class="col col-6 col-sm-6">
            <h4>Item</h4>
          </div>
          <div class="col col-2 col-sm-2">
            <h4>Quantity</h4>
          </div>
          <div class="col col-4 col-sm-4">
            <h4>Price</h4>
          </div>
        </div>
        {% for product in prods %}
        <div
          class="row cart-item-container flex-column flex-md-row d-flex align-items-start justify-content-center"
        >
          <div class="col col-6 col-sm-6">
            <p>{{ product.name }}</p>
            <img
              class="cart-prod-img"
              src="{% static product.image_url %}"
              alt=""
            />
          </div>
          <div class="col col-6 col-sm-2 my-auto align-item-center justify-content-center text-center" >
            <select
              id="pizza-qty-{{ product.id }}"
              class="form-select cart-item-qty my-2"
              name="pizza-count"
              aria-label="Default select example"
              style= "min-width: 70px"
            >
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <a
              id="rmv-btn-{{ product.id }}"
              class="btn btn-danger my-2 rmv-btn"
              href="#!"
              >Remove</a
            >
          </div>
          <div id="" class="item-price col col-6 col-sm-4 my-auto fs-5 fw-bold  ">
             ${{ product.price }}
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h4 class="mx-auto p-2">Price details</h4>
      <div
        class="d-flex align-items-center justify-content-center"
        style="margin-top: 20px; font-size: x-large"
      >
        Total amount:

        <strong id="total-price-cart" class="">$ {{ total_price }}</strong>
      </div>


      
          
          
          <form class="order_form" action="{% url 'checkout-page' %}" method="POST">
            {% csrf_token %}
            
            <input
            type="text"
            style="display: none"
            name="order_items_json"
            id="order_items_json"
            value=""
            />

            {% if user.is_authenticated %}
              <input class="d-none" type="text" name="user_id" id="user_id" value="{{ user.id }}">
            {% endif %}

            
            {% crispy form form.helper %}
            
            <!-- <button type="submit" name="submit" class="btn btn-success my-4 mx-1">
              Checkout
            </button> -->
          </form>
        
      <a id="clear-cart-btn" href="#!" class="btn btn-danger my-4 mx-1"
        >Clear Cart</a
      >
    </div>
  </div>
  {% else %}
  <h2>Cart is empty!!</h2>
  {% endif %}
</div>

{% endblock content %} {% block scripts %}

<script>

  var cart = JSON.parse(localStorage.getItem("cart")) 
 
  if(!localStorage.getItem("cartItems") || localStorage.getItem("cartItems")==="[]"){
    var cartItems = []    
    {% for prod in prods %}
    
    if (cart["pr"+{{ prod.id }}]){
      
      
      var obj = {
        id: {{ prod.id }},
        qty: 1,
        price:{{ prod.price }}
      }
      
      cartItems.push(obj)
    }
    {% endfor %}

    
    localStorage.setItem("cartItems",JSON.stringify(cartItems))
    }
    else{
      var cartItems = JSON.parse(localStorage.getItem("cartItems"))
    }


    


</script>
<script src="{% static 'baseApp/cart-page-scripts.js' %}"></script>


{% endblock scripts %}
