{% extends "baseApp/index.html" %} {% load static %} {% load crispy_forms_tags
%} {% block content %}

<div class="container text-center">
  {% if prods %}
  <div class="row border">
    <div class="col col-8">
      <h3 class="mx-auto p-2">Cart Items</h3>
      <div class="container">
        <div class="row cart-subheading-row">
          <div class="col col-6 col-sm-6">
            <h4>Item</h4>
          </div>
          <div class="col col-2 col-sm-2">
            <h4>Quantity</h4>
          </div>
          <div class="col col-4 col-sm-4">
            <h4>Price</h4>
          </div>
        </div>
        {% for product in prods %}
        <div class="row p-8 cart-item-container">
          <div class="col col-6 col-sm-6">
            <p>{{ product.name }}</p>
            <img
              class="cart-prod-img"
              src="{% static product.image_url %}"
              alt=""
            />
          </div>
          <div class="col col-6 col-sm-2 my-auto">
            <select
              id="pizza-no-{{ product.id }}"
              class="form-select cart-item-qty"
              name="pizza-count"
              aria-label="Default select example"
            >
              <option selected value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <a
              id="rmv-btn-{{ product.id }}"
              class="btn btn-danger my-2 rmv-btn"
              href="#!"
              >Remove</a
            >
          </div>
          <div id="pr{{ product.id }}" class="item-price col col-6 col-sm-4 my-auto">


            
            ${{ product.price }}
          </div>
        </div>

        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <h4 class="mx-auto p-2">Price details</h4>
      <div
        class="d-flex align-items-center justify-content-center"
        style="margin-top: 20px; font-size: x-large"
      >
        Total amount:

        <strong>$ {{ total_price }}</strong>
      </div>

      <button class="btn btn-success my-4 mx-1">Checkout</button>
      <a id="clear-cart-btn" href="#!" class="btn btn-danger my-4 mx-1"
        >Clear Cart</a
      >
    </div>
  </div>
  {% else %}
  <h2>Cart is empty!!</h2>
  {% endif %}
</div>





{% endblock content %}


{% block scripts %}


let cart_items_obj = JSON.parse(localStorage.getItem("cart"));
var items_array  = []


for (var key in cart_items_obj){

  let p_id = "#"+key;
  let cost = parseInt($(p_id).text().trim().substring(1));
  

  let obj = {
    item: key,
    qty:1,
    price:cost
  };

  items_array.push(obj);
  
}

console.log(items_array)





{% endblock scripts %}