{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Mark's Pizzeria</title>
    <link rel="icon" type="image/x-icon" href="{% static 'baseApp/images/favicon.ico' %}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'baseApp/styles.css' %}" />
    <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <style>
      @import url('http://fonts.cdnfonts.com/css/novela');
      @import url('http://fonts.cdnfonts.com/css/mofaze-del-monte');
</style>
</style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a id="MainLogo" class="navbar-brand" href="{% url "home-page" %}">Mark's Pizzeria </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'menu-page' %}">Order</a>
            </li>

            
            {% if user.is_authenticated %}
            
            {% else %}

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'login-page' %}"
                >Login/SignUp</a
              >
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'about-page' %}"
                >About</a
              >
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'logout-page' %}"
                >Logout</a
              >
            {% endif %}
            
              
              
              
            
            
            
            
          </ul>
          <span class="navbar-profile">
            <a
                class="nav-link active dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
              {% if user.is_authenticated %}
                {{ user.username }}
              {% else %}
                Profile
              {% endif %}
              
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'checkout-page' %}">My Orders</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
          </span>
          <span class="cart">
            <a  aria-current="page" href="{% url 'checkout-page' %}"
                ><img src="{% static 'baseApp/images/cart.png' %}"></a
              >
          </span>
          {% comment %} <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Find your pizza!"
              aria-label="Search"
            />
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form> {% endcomment %}
        </div>
      </div>
    </nav>

    {% block content%}
    <div
      id="carouselExampleControls"
      class="carousel slide car"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{% static 'baseApp/images/ivan-torres-MQUqbmszGGM-unsplash.jpg' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'baseApp/images/mahyar-motebassem-pGA4zHvpo5E-unsplash.jpg' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'baseApp/images/nik-owens-40OJLYVWeeM-unsplash.jpg' %}"
            class="d-block w-100"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleControls"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    {% endblock %}

    <div class="footer">
      <div class="footer-container container">
        <div class="row">
          <div class="col footer-text">
            <h4 class="fs-6">Orders</h4>
            <a class="footer-link" href="">Deals</a>
            <a class="footer-link" href="">Pizzas</a>
            <a class="footer-link" href="">Sides</a>
            <a class="footer-link" href="">Drinks</a>
            <a class="footer-link" href="">Desserts</a>
          </div>
          <div class="col footer-text">
            <h4 class="fs-6">About</h4>
            <a class="footer-link" href="{% url 'about-page' %}">About Us</a>
            <a class="footer-link" href="">Contactless Delivery</a>
            <a class="footer-link" href="">Nutrition</a>
          </div>
          <div class="col footer-text">
            <h4 class="fs-6">Our Policies</h4>
            <a class="footer-link" href="">Privacy</a>
            <a class="footer-link" href="">Terms and conditions</a>
            <a class="footer-link" href="">Responsible Disclosure</a>
          </div>
          <div class="col footer-text">
            <h4 class="fs-6">Visit John's Pizza</h4>
            <a class="footer-link" href="">Locate Store</a>
            <a class="footer-link" href="">Global vlog</a>
          </div>
        </div>
        <div class="row">
          <div class="col store">
            <a href="#"
              ><img
                class="store-logo"
                src="{% static 'baseApp/images/app-store-png-logo-33120.png' %}"
                alt="App store icon"
            /></a>
            <a href="#"
              ><img
                class="store-logo"
                src="{% static 'baseApp/images/google-play-png-logo-3784.png' %}"
                alt="Play store icon"
            /></a>
          </div>
        </div>
        <div class="row footer-text">
          <div class="col footer-item">
            <p>Helping us in serving you better</p>
            <button type="button" class="feedback-button btn btn-dark">
              Give Feedback
            </button>
          </div>
          <div class="col footer-item">
            <h5 class="">Follow us</h5>
            <ul class="social-list">
              <li class="social">
                <a href="https://www.facebook.com/pranshu.priyam/"
                  ><img
                    class="social-logo"
                    src="{% static 'baseApp/images/social-icons/facebook.png' %}"
                    alt=""
                /></a>
              </li>
              <li class="social">
                <a href="https://twitter.com/PranshuPriyam"
                  ><img
                    class="social-logo"
                    src="{% static 'baseApp/images/social-icons/twitter.png' %}"
                    alt=""
                /></a>
              </li>
              <li class="social">
                <a href="https://www.instagram.com/pranshupriyam/"
                  ><img
                    class="social-logo"
                    src="{% static 'baseApp/images/social-icons/instagram.png'%}"
                    alt=""
                /></a>
              </li>
              <li class="social">
                <a href="www.youtube.com"
                  ><img
                    class="social-logo"
                    src="{% static 'baseApp/images/social-icons/youtube.png' %}"
                    alt=""
                /></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row footer-text">
          <div class="col">
            <p class="footer-description footer-description-text">
              Order a delicious pizza on the go, anywhere, anytime. Pizza Hut is
              happy to assist you with your home delivery. Every time you order,
              you get a hot and fresh pizza delivered at your doorstep in less
              than thirty minutes. *T&C Apply. Hurry up and place your order
              now! © 2022 Pizza Hut India. All rights reserved. License Number:
              10017011004220
            </p>
          </div>
        </div>
        <div class="row footer-text">
          <div class="col fssai">
              <a class="" href=""><img class="fssai-logo" src="{% static 'baseApp/images/fssai.png' %}" alt=""></a>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <script src=" {% static "baseApp/scripts.js" %}"></script>
  </body>
</html>
