{% extends 'baseApp/index.html' %}
{% load static %}

{% block content %}


<div class="order-body">
  <h1 class="menu-heading">Menu <hr class="stylish-rule"></h1>
  <div class=" menu container">
      <div class="row">


        {% for pizza in pizzas %}
        
        
        <div class="col col-lg-4 ">
          <div class="card" >
          {% comment %} <div class="card" style="width: 18rem;"> {% endcomment %}
              <img src="{% static pizza.image_url  %}" class="card-img-top" alt="pepperoni pizza">
              <div class="card-body">
                <h5 class="card-title">{{ pizza.name }}</h5>
               
                <a href="#" class="btn btn-success">Buy</a>
                <p class="d-inline-flex gap-1 description-text">
                  
                  <a class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                      <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                    </svg>
                    
                  </a>
                  <p class="collapse" id="collapseExample">
                  
                    {{ pizza.description }}
                  
                  </p>
                </p>
                
                
              </div>
            </div>
        </div>
        
        
        
        {% endfor %}
        
        </div>
    </div>
  
</div>









{% endblock content %}